<div class="carousel slide w-100" id="back" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="back" data-slide-to="0" class="active"></li>
    <li data-target="back" data-slide-to="1"></li>
    <!-- <li data-target="back" data-slide-to="2"></li> -->
  </ol>
  <div class="carousel-inner w-100">
    <div class="carousel-item active w-100">
      <img src="/img/learn Arabic1.jpg" class="w-100" alt="">
      <div class=" carousel-caption  d-block h-100">
        <div class="text-light d-flex h-100 flex-column align-items-center justify-content-center">
          <h1>The Best Learning Academy</h1>
          <div class="d-flex justify-content-between inputButton ">
            <a href="#" class="btn btn-secondary">login</a>
            <a href="#" class="btn btn-outline-light">create account</a>
          </div>

        </div>

      </div>
    </div>
    <div class="carousel-item w-100">
      <img src="/img/malik-shibly-lKbz2ejxYbA-unsplash.jpg" class="w-100" alt="">
      <div class=" carousel-caption  d-block h-100">
        <div class="text-light d-flex h-100 flex-column align-items-center justify-content-center">
          <h1>موسوعة شاملة للعمل و التميز و الإجتهاد</h1>
          <div class="d-flex justify-content-between inputButton ">
            <a href="#" class="btn btn-outline-light">إنشاء حساب</a>
            <a href="#" class="btn btn-secondary">تسجيل دخول</a>
          </div>
        </div>
      </div>

    </div>
    <!-- <div class="carousel-item">
          <img src="/Cream and Yellow Hand Drawn English Class Education Presentation.png" class="w-100" alt="">
      </div> -->
  </div>
  <a href="#back" class="carousel-control-next" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
  <a href="#back" class="carousel-control-prev" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
</div>