<footer class="d-flex flex-column">
  <div class="row">
    <div class="col-12">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="quickLinks text-uppercase">
        <h2 class="footerH1">subjects</h2>
        <ul>
          <li><a href="/subject.html">Arabic</a></li>
          <li><a href="/subject.html">English</a></li>
          <li><a href="/subject.html">Math</a></li>
          <li><a href="/subject.html">geography</a></li>
          <li><a href="/subject.html">history</a></li>
          <li><a href="/subject.html">chemistry</a></li>
          <li><a href="/subject.html">physics</a></li>
          <li><a href="/subject.html">biology</a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="quickLinks text-uppercase">
        <h2 class="footerH1">Popular Links</h2>
        <ul>
          <li><a href="/index.html">home</a></li>
          <li><a href="/about us.html">About Us</a></li>
          <li><a href="/profile.html">profile</a></li>
          <li><a href="/login.html">login || create account</a></li>
          <li><a href="/404.html">404</a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-lg-3 text-uppercase">
      <h2 class="footerH1">follow us</h2>
      <ul>
        <li><a href="#">youtube</a></li>
        <li><a href="#">instagram</a></li>
        <li><a href="#">facebook</a></li>
      </ul>
    </div>
    <div class="col-12 col-lg-3">
      <h2 class="footerH1 text-uppercase">contact us</h2>
      <form action="" class="">
        <div class="form-group m-2">
          <input type="email" class="form-control mb-2 outline" name="email" id="email" placeholder="email" required>
          <textarea name="content" class="w-100 outline" rows="5" placeholder="Your message ...." required></textarea>
          <input type="submit" class="btn btn-primary float-left" value="send">
        </div>

      </form>
    </div>
  </div>

  <div class="row mt-3 text-secondary">
    <div class="col-12">
      <p>Copyright © 2022 Dragon. all right reserved.</p>
    </div>
  </div>
</footer>